<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "google-tag-manager.html" . }}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ "favicon-32x32.png" | relURL }}">

  <!-- CSS-->
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300,400,600,800,300,400,600,800,300&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100,300,400,700,900,100,300,400,700,900&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- modified for Huntrecht -->
    {{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
    <link rel="stylesheet" href="{{ ($bootstrap).RelPermalink }}">
    {{ $custom := resources.Get "css/custom.css" }}
    {{ $ionicons := resources.Get "css/ionicons.min.css" }}
    <link rel="stylesheet" href="{{ ($ionicons).RelPermalink }}">
    <link rel="stylesheet" href="{{ ($custom).RelPermalink }}">
    {{ $fontawesome := resources.Get "css/font-awesome.min.css" }}
    <link rel="stylesheet" href="{{ ($fontawesome).RelPermalink }}">
    {{ $feather := resources.Get "css/feather.min.css" }}
    <link rel="stylesheet" href="{{ ($feather).RelPermalink }}">
    {{ $extra := resources.Get "css/extra.css" }}
    <link rel="stylesheet" href="{{ ($extra).RelPermalink }}">

  {{ block "header_css" . }}{{ end }}


  {{ block "meta_tags" . }}
    {{ if .Params.description }}<meta name="description" content="{{ .Params.description }}"/>{{ end }}
    {{ if .Params.meta_title }}<meta property="og:title" content="{{ .Params.meta_title }}"/>{{ else }}<meta property="og:title" content="{{ .Title }}"/>{{ end }}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    {{ if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}"/>{{ end }}
    {{ if .Params.description }}<meta property="og:description" content="{{ .Params.description }}"/>{{ end }}
    <meta name="twitter:card" content="summary"/>
    {{ if .Site.Params.seo.meta_twitter_site }}<meta name="twitter:site" content="{{ .Site.Params.seo.meta_twitter_site }}"/>{{ end }}
    {{ if .Site.Params.seo.meta_twitter_creator }}<meta name="twitter:creator" content="{{ .Site.Params.seo.meta_twitter_creator }}"/>{{ end }}
  {{ end }}

</head>

<body class='page-container {{ block "body_classes" . }}{{ end }}'>
  {{ partial "google-tag-manager-noscript.html" . }}
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>


  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ $jq := resources.Get "js/jquery-3.3.1.min.js" }}
  {{ $blocs := resources.Get "js/blocs.min.js" }}
  {{ $lazysizes := resources.Get "js/lazysizes.min.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
    <script src="{{ $jq.RelPermalink }}"></script>
    <script src="{{ $lazysizes.RelPermalink }}"></script>
    <script src="{{ $blocs.RelPermalink }}"></script>

  {{ partial "google-analytics.html" . }}

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
</body>

</html>
