{{ define "title" }}{{ .Site.Params.title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

<!-- bloc-66 -->
<div class="bloc none bgc-platinum l-bloc" id="bloc-66">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<label class="mg-md tc-onyx h3-bloc-66-style">
					Managed infrastructures made possible through innovative financing and technology solutions
				</label>
			</div>
			<div class="col-6 col-sm-3 col-lg-6">
				<img src="images/lazyload-ph.png" data-src="images/digital-twin-lines.jpg" class="img-fluid mx-auto d-block lazyload" alt="transparent pipe" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-66 END -->

<!-- bloc-67 -->
<div class="bloc none bgc-anti-flash-white l-bloc" id="bloc-67">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-7">
				<h5 class="mg-md h4-bloc-67-style tc-onyx">
					Huntrecht manages over $450m of real assets through a digital twin model
				</h5>
			</div>
		</div>
	</div>
</div>
<!-- bloc-67 END -->

<!-- bloc-68 -->
<div class="bloc tc-dark-lava l-bloc" id="bloc-68">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-black">
							<strong>Managed Infrastructure</strong>
						</h6>
					</div>
					<div class="col">
						<img src="../img/lazyload-ph.png" data-src="../img/financial-markets-image.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md tc-black">
							<a class="link-bloc-68-style ltc-black" href="https://howsen.huntrecht.com">Real Estate Investment</a><br>
						</h6>
						<p>
							Quantitative research and analysis for informed investment decisions
						</p>
					</div>
					<div class="col">
						<img src="../img/lazyload-ph.png" data-src="../img/ai-chips.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md tc-black float-lg-none">
							<a class="ltc-black link-technology-style" href="https://www.huntrecht.com/hice">Technology</a><br>
						</h6>
						<p>
							Artificial intelligence &amp; Automation, IoT, Consumer Technology
						</p>
					</div>
					<div class="col">
						<img src="../img/lazyload-ph.png" data-src="../img/14440633_10103136675873201_6012411229515107747_n.0.0.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md tc-black">
							<a class="link-data-centers-style ltc-black" href="https://www.huntrecht.com/data-centers">Data Centers</a><br>
						</h6>
						<p>
							Hyperscale Data Centers for Cloud computing &amp; business continuity
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-68 END -->

<!-- bloc-69 -->
<div class="bloc bgc-anti-flash-white none l-bloc" id="bloc-69">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-onyx">
							<strong>Explore solutions &amp; services</strong>
						</h6>
					</div>
					<div class="col">
						<div class="p-2 bg-white">
							<img src="../img/lazyload-ph.png" data-src="../img/edge-cloud.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
							<h6 class="mg-md tc-onyx">
								<a class="ltc-black link-bloc-69-style" href="https://greencloud.huntrecht.com">Cloud computing</a><br>
							</h6>
							<p>
								Powering businesses with efficient IT operating model
							</p>
							<div class="text-center text-lg-left">
								<a href="https://greencloud.huntrecht.com"><span class="feather-icon icon-arrow-right icon-brandeis-blue none icon-md"></span></a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="p-2 bg-white">
							<img src="../img/lazyload-ph.png" data-src="../img/medical-imaging.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
							<h6 class="mg-md tc-onyx">
								<a class="ltc-black link-healthcare-style" href="https://www.huntrecht.com/solutions/healthcare">Healthcare</a><br>
							</h6>
							<p>
								Private healthcare infrastructure for hospitals and providers
							</p>
							<div class="text-center text-lg-left">
								<a href="https://www.huntrecht.com/solutions/healthcare"><span class="feather-icon icon-arrow-right icon-md icon-brandeis-blue"></span></a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="p-2 bg-white">
							<img src="../img/lazyload-ph.png" data-src="../img/financial-markets-trade.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
							<h6 class="mg-md tc-onyx">
								<a class="ltc-black link-0-style " href="https://www.huntrecht.com/solutions/financial-markets">Financial Markets</a><br>
							</h6>
							<p>
								Data infrastructure automation for financial markets
							</p>
							<div class="text-center text-lg-left">
								<a href="https://www.huntrecht.com/solutions/financial-markets"><span class="feather-icon icon-arrow-right icon-md icon-brandeis-blue"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-69 END -->

<!-- bloc-70 -->
<div class="bloc bgc-black" id="bloc-70">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3">
				<!--<img src="../img/lazyload-ph.png" data-src="../img/ny-times.png" class="img-fluid mx-auto d-block lazyload" alt="ny times" />-->
			</div>
			<div class="col-6 col-sm-3">
				<!--<img src="../img/lazyload-ph.png" data-src="../img/forbes.png" class="img-fluid mx-auto d-block lazyload" alt="forbes" />-->
			</div>
			<div class="col-6 col-sm-3">
				<!--<img src="../img/lazyload-ph.png" data-src="../img/wired.png" class="img-fluid mx-auto d-block lazyload" alt="wired" />-->
			</div>
			<div class="col-6 col-sm-3">
				<a href="mailto:finservices@huntrecht.com" class="btn btn-d btn-block bg-primary btn-sq"><span class="feather-icon icon-arrow-right icon-spacer float-lg-right"></span>Contact us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-70 END -->

<!-- bloc-69 -->
<div class="bloc none bgc-platinum l-bloc" id="bloc-69">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>Solutions</strong>
				</h6><a href="https://www.huntrecht.com/data-centers" class="a-btn a-block footer-link">Data Centers</a><a href="https://howsen.huntrecht.com" class="a-btn a-block footer-link">Real Estate</a><a href="https://greencloud.huntrecht.com" class="a-btn a-block footer-link">Cloud computing</a><a href="https://www.huntrecht.com/solutions/healthcare" class="a-btn a-block footer-link">Healthcare</a><a href="https://www.huntrecht.com/internet-of-things" class="a-btn a-block footer-link">IoT</a><a href="https://www.huntrecht.com/solutions/financial-markets" class="a-btn a-block footer-link">Financial markets</a><a href="https://redsmith.huntrecht.com" class="a-btn a-block footer-link">Supply Chain</a>
			</div>
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>Services</strong>
				</h6><a href="https://www.huntrecht.com/global-financing" class="a-btn a-block footer-link">Global Financing</a><a href="https://www.huntrecht.com/services/real-estate" class="a-btn a-block footer-link">Advisory</a><a href="https://www.huntrecht.com/services/custodian-digital-assets" class="a-btn a-block footer-link">Custodian &amp; Digital Assets</a><a href="https://docs.huntrecht.com/apidocs" class="a-btn a-block footer-link">Market intelligence</a>
			</div>
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>About Huntrecht</strong>
				</h6><a href="https://www.huntrecht.com/careers" class="a-btn a-block footer-link">Careers</a><a href="../" class="a-btn a-block footer-link">Careers</a><a href="../" class="a-btn a-block footer-link">Publications</a><a href="https://www.huntrecht.com/webinars" class="a-btn a-block footer-link">Webinars</a><a href="../" class="a-btn a-block footer-link">Contact</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-69 END -->

<!-- bloc-71 -->
<div class="bloc l-bloc" id="bloc-71">
	<div class="container bloc-lg pt-1 pb-1">
		<div class="row">
			<div class="col">
				<h6 class="mg-md">
					Copyright 2022. All rights reserved
				</h6>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ define "footer_js" }}
{{ end }}
