<div class="service service-summary">
  <div class="service-content" style="width: 180px;border: 1px solid rgba(0,0,0,.125);border-radius:.45rem;background-clip:border-box;padding: 5px">
    <h4 class="service-title">
      {{ .Title }}
    </h4>
    <p>{{.Content}}</p>
  </div>
</div>
