{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-global-financing{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-56 -->
<div class="bloc bgc-black bg-large-QrLyxoebhJVP1-Nmk-9IGfb7WIFjf2yRerADlERbTaU" id="bloc-56">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<h1 class="mg-md tc-white">
					Global Financing
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-56 END -->

<!-- bloc-57 -->
<div class="bloc bgc-onyx" id="bloc-57">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<h5 class="mg-md h3-bloc-57-style tc-white">
					Financial Strategies for Real Estate &amp; Technology
                    Investments
				</h5>
			</div>
			<div class="col-6 col-sm-3">
				<div class="form-group">
				<a
                    href="https://statics.huntrecht.com/docs/Huntrecht-Hyperscaler-Brochure.pdf"
                    class="btn btn-d btn-sq btn-block bg-primary btn-sm text-white"><span class="feather-icon icon-arrow-down icon-spacer float-lg-right"></span>Brochure &nbsp; &nbsp;</a>
				</div>
			</div>
			<div class="col-6 col-sm-3 col-lg-3">
				<a href="mailto:ir@huntrecht.com" class="btn btn-d btn-sq btn-primary btn-sm"><span class="feather-icon icon-arrow-down icon-spacer float-lg-right"></span>Request for information &nbsp; &nbsp;</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-57 END -->

<!-- bloc-58 -->
<div class="bloc bgc-anti-flash-white" id="bloc-58">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md h6-bloc-58-style tc-black">
							<strong>What we finance</strong>
						</h6>
					</div>
					<div class="col">
						<h5 class="mg-md text-dark">
							Data Centers
						</h5><img src="images/lazyload-ph.png" data-src="images/14440633_10103136675873201_6012411229515107747_n.0.0.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<p class="mt-4 text-dark">
							High revenue yielding data centers with high rack space rentals and occupancy ratio.
						</p>
					</div>
					<div class="col">
						<h5 class="mg-md text-dark">
							Cloud Computing
						</h5><img src="images/lazyload-ph.png" data-src="images/0%2AYtPxqx63P741OtOJ.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<p class="mt-4 text-dark">
							Cloud softwares for multi-region connectivity, high availability and low latency.
						</p>
					</div>
					<div class="col">
						<h5 class="mg-md text-dark">
							Real Estate
						</h5><img src="images/lazyload-ph.png" data-src="images/IoT-application-education-campus-safety.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<p class="mt-4 text-dark">
							Real estate assets with high occupancy ratio and net operating income.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-58 END -->

<!-- bloc-59 -->
<div class="bloc bgc-white " id="bloc-59">
	<div class="container bloc-md pt-2 pb-2 border-bottom">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-black h6-operations-style">
							<strong>Operations</strong>
						</h6>
					</div>
					<div class="col">
						<div class="p-2 bg-light">
							<h5 class="mg-md text-dark">
								Risk Management
							</h5>
							<p>
								Better investment and risk decision, leading to more efficient, confident and insightful decision.
							</p>
						</div>
						<div class="p-2 bg-light mt-2">
							<h5 class="mg-md text-dark">
								Strategic Capital Allocation
							</h5>
							<p>
								Capital allocation that fosters high returns to investors while maintaining the structure of the underlying asset.
							</p>
						</div>
					</div>
					<div class="col">
						<div class="p-2 bg-light">
							<h5 class="mg-md text-dark">
								Asset Pricing &amp; Comparison
							</h5>
							<p>
								Asset comparison based on common and similar asset features and characteristics
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-59 END -->

<!-- bloc-59 -->
<div class="bloc bgc-white" id="bloc-59">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md h6-bloc-59-style tc-black">
							<strong>Investment performance</strong>
						</h6>
					</div>
					<div class="col">
						<h1 class="mg-md text-lg-center tc-black h1-bloc-59-style">
							<strong>30%</strong>
						</h1>
						<p class="mg-md text-lg-center">
							Total return
						</p>
					</div>
					<div class="col">
						<h1 class="mg-md h1-12-26--style text-lg-center text-dark">
							<strong>12%</strong>
						</h1>
						<h6 class="mg-md text-lg-center tc-black">
							Annualized return
						</h6>
					</div>
					<div class="col">
						<h1 class="mg-md text-lg-center h1-0-55-style text-dark">
							<strong>0.55</strong>
						</h1>
						<h6 class="mg-md text-lg-center tc-black">
							Sharpe ratio
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-59 END -->

<!-- bloc-60 -->
<div class="bloc bgc-anti-flash-white" id="bloc-60">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md h6-industry-focus-style tc-black">
							<strong>Industry focus</strong>
						</h6>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/oil-gas-in-ocean.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md text-dark">
							<strong>Industrial company</strong>
						</h6>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/men-content-creator.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md text-dark">
							<strong>Financial services company</strong>
						</h6>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/GettyImages-83405562.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<h6 class="mg-md text-dark">
							<strong>Healthcare company</strong>
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-60 END -->

<!-- bloc-61 -->
<div class="bloc bgc-black" id="bloc-61">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<h5 class="mg-md tc-white h3-bloc-61-style">
					Want to own a piece of these assets? Partner with us
				</h5>
			</div>
			<div class="col-6 col-sm-3">
				<div class="form-group">
					<label>
						<br>
					</label>
				</div>
			</div>
			<div class="col-6 col-sm-3">
				<div class="form-group">
					<label>
						<br>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-61 END -->

<!-- bloc-62 -->
<div class="bloc bgc-white" id="bloc-62">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md h6-disclaimer-style tc-black">
							<strong>Disclaimer</strong>
						</h6>
					</div>
					<div class="col-lg-7">
						<p class="p-bloc-62-style">
							Global Financing offerings are provided through Huntrecht financing partners and affiliates worldwide to qualified commercial clients. This offering does not guarantee investment.&nbsp;The information, tools and material presented on this website are provided to you for information purposes only and are not to be used or considered as an offer or the solicitation of an&nbsp;offer to sell or to buy or subscribe for securities or other financial instruments. Huntrecht may not have taken any steps to ensure that the securities referred to in this report are suitable for&nbsp;any particular investor. Huntrecht will not treat recipients as its customers by virtue of their receiving this information or the link to this website content. The investments or services contained or referred to on this website may not be&nbsp;suitable for you and it is recommended that you consult an independent investment advisor if you are in doubt about such investments or investment services. Nothing on this website&nbsp;constitutes investment, legal, accounting or tax advice or a representation that any investment or strategy is suitable or appropriate to your individual circumstances or otherwise&nbsp;constitutes a personal recommendation to you. Huntrecht does not offer advice on the tax consequences of investment and you are advised to contact an independent tax adviser. Please&nbsp;note in particular that the bases and levels of taxation may change.
						</p>
					</div>
					<div class="col">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-62 END -->

<!-- bloc-63 -->
<div class="bloc bgc-anti-flash-white-2 l-bloc" id="bloc-63">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<h6 class="mg-md h6-bloc-63-style">
					Copyright 2021. All rights reserved
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-63 END -->
{{ end }}
