.nobg {
    background-color: transparent
}
.opacity-50 {
    opacity: 75
}
.section-text-color {
    color: #7BD5DA
}
.border-light-blue {
    border-color: #3BBBC2
}
.p-hugo-override {
  color: #c6c6c6 !important
}
.p-bloc-62-style {
    line-height: 18px !important
}
ul {
    list-style-type: disc !important;
}
