{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-6 bg-blue text-white">
				<h1 class="mg-md">
                    {{ .Content }}
				</h1>
				<h5 class="mg-md">
					Please fill in your contact information so that our team may contact you to help you find what you are looking for.
				</h5>
			</div>
			<div class="col-md-6">
				<h3 class="mg-md">
					Business contact information
				</h3>
				<form data-clean-url-used="true" id="form_1"
                    data-form-type="blocs-form" novalidate
                    data-success-msg="Your message has been sent."
                    data-fail-msg="Failed to submit your enquiry. Please try
                    again later. Sorry for the inconvenience!">
					<div class="form-group">
						<label>
							First Name
						</label>
						<input id="firstName" class="form-control" required />
					</div>
					<div class="form-group">
						<label>
							Last Name
						</label>
						<input id="lastName" class="form-control" required />
					</div>
					<div class="form-group">
						<label>
							Email
						</label>
						<input id="email" class="form-control" type="email" data-error-validation-msg="Not a valid email address" required />
						<input id="formUrl" class="form-control" type="hidden"
                                  value="{{ .Params.formUrl }}" />
					</div>
					<div class="form-group">
						<label>
							Product
						</label>
						<select class="form-control " id="product">
							<option value="howsen">
								Real Estate
							</option>
							<option value="redsmith">
                                Trade &amp; Supply Chain
							</option>
							<option value="ironbanc">
								Digital Wallet
							</option>
							<option value="greencloud">
								Cloud &amp; Data Services
							</option>
							<option value="webinars">
                                Webinars
							</option>
							<option value="research">
								Financial Advisory
							</option>
							<option value="consulting">
								Integration &amp; Partnerships
							</option>
							<option value="consulting">
								Sales
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>
							Message
						</label><textarea id="message" class="form-control" rows="4" cols="50" required></textarea>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="optin" data-validation-minchecked-message="You must agree to this before we can take your information." data-validation-minchecked-minchecked="1" name="optin" />
						<label class="form-check-label">
							We can send you product updates and offers via email. It is possible to opt-out at any time.
						</label>
					</div> 
					<button class="bloc-button btn btn-d btn-lg btn-block" type="submit">
						Submit
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{ end }}
