{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-hice{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-21 -->
<div class="bloc full-width-bloc bg-How-Do-Bots-Chatbots-Work-1280x720 d-bloc" id="bloc-21">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<h1 class="mg-md text-white">
					Hice. Virtual Assistant&nbsp;
				</h1>
				<h3 class="mg-md">
					Power Businesses and Homes
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- bloc-21 END -->

<!-- bloc-22 -->
<div class="bloc l-bloc full-width-bloc bg-dark" id="bloc-22">
	<div class="container bloc-lg p-0">
		<div class="row">
			<div class="col">
				<h3 class="mg-md text-white text-center">
					Built on the most robust AI frameworks. IBM PowerAI
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- bloc-22 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- bloc-24 -->
<div class="bloc l-bloc " id="bloc-24">
	<div class="container bloc-lg pt-4 pb-2">
		<div class="row">
			<div class="col-md-4 col-lg-2">
				<h4 class="mg-md text-dark">
                    AI & Automation Solutions
				</h4>
				<p>
					Simplify work and life by putting AI to work at scale across all industries.
				</p>
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/ai-for-advertising.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					For Business
				</h3>
				<p>
					Virtual Assistant for business operations efficiency, call center management. Save huge cost and operational budget and efficiently serve millions of customers across different customer segment.
				</p>
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/ai-for-homes.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					For Home
				</h3>
				<p>
					Smart homes features such as Smart shower, Smart Bulbs are powered by AI. Our AI solutions work with varieties of IoT-enabled devices to provide a unique customer experience to end users.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-24 END -->

<!-- bloc-25 -->
<div class="bloc l-bloc bg-light" id="bloc-25">
	<div class="container bloc-lg pb-0 pt-4">
		<div class="row">
			<div class="col-md-4 col-lg-2">
				<h4 class="mg-md text-dark">
					Serving Industries
				</h4>
				<p>
					Save time and money. Automation across all major industries.
				</p>
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/ai-in-hospitality.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					Hospitality
				</h3>
				<p>
					Enjoy great experience with our AI solution for Spa and hotels. Improve customer engagement and retention through powerful AI features.
				</p>
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/robot-airport-1024x622.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					Airline &amp; Travel
				</h3>
				<p>
					Serve your customers with great AI solutions for Airlines and Travel. Reduce wait time and increase boarding and in-flight experiences with our powerful AI-led solutions.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-25 END -->

<!-- bloc-26 -->
<div class="bloc l-bloc bg-light" id="bloc-26">
	<div class="container bloc-lg pt-0">
		<div class="row">
			<div class="col-md-4 col-lg-2">
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/laptop-computer.jpeg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					Telecoms
				</h3>
				<p>
					Provide great mobile experiences to your millions of customers. Infuse AI into your value added services to increase customer engagement and improve insights.
				</p>
			</div>
			<div class="col-md-4 col-lg-5">
				<img src="images/lazyload-ph.png" data-src="images/Big-Data-Finance.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<h3 class="mg-md text-dark">
					Financial Services
				</h3>
				<p>
					Increase financial inclusion, intelligently identify your customers and proactively provide quality service delivery by infusing AI into your business processes across all business units.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc l-bloc full-width-bloc bg-dark" id="bloc-27">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-3">
				<h5 class="mg-md text-white font-weight-bold">
					Why Hice
				</h5>
			</div>
			<div class="col-md-3 border">
				<h5 class="mg-md text-white h2-style font-weight-bold">
					Automation
				</h5>
				<h2 class="mg-md text-white h2-5-style">
					Prepare for the future of work
				</h2>
			</div>
			<div class="col-md-3 border">
				<h5 class="mg-md text-white font-weight-bold h5-style">
					Speed
				</h5>
				<h2 class="mg-md text-white h2-bloc-27-style">
					Operational Efficiency
				</h2>
			</div>
			<div class="col-md-3 border">
				<h5 class="mg-md font-weight-bold text-white">
					Delivery
				</h5>
				<h2 class="mg-md h2-6-style text-white">
					Smart &amp; Flawless Execution
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->

<!-- bloc-27 -->
<div class="bloc l-bloc full-width-bloc" id="bloc-27">
	<div class="container bloc-lg p-0">
		<div class="row">
			<div class="col">
				<h6 class="mg-md">
					Copyright 2020. All Rights Reserved
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->
{{ end }}
