{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-didi{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-13 -->
<div class="bloc full-width-bloc bg-HiEd-121818-MeshNetworks-png l-bloc" id="bloc-13">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<h1 class="mg-md text-white font-weight-bond h1-bloc-13-style">
					DiDi. Incentivised Digital Network.
				</h1>
				<h3 class="mg-md text-white">
					Create and distribute your own content with your own network
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- bloc-13 END -->

<!-- bloc-14 -->
<div class="bloc bgc-brandeis-blue d-bloc full-width-bloc" id="bloc-14">
	<div class="container bloc-lg p-4">
		<div class="row no-gutters">
			<div class="col-12 col-sm-4 col-lg-3">
				<h3 class="mg-md text-sm-left text-center text-white mx-auto d-block">
					Own your content. Get incentivised
				</h3>
			</div>
			<div class="col-12 col-sm-4 col-lg-7">
				<h6 class="mg-md text-sm-left text-center text-white">
					Join, learn and create your own content anywhere, anytime, online or offline. Reach your community, reach the world with zero limitation.
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-14 END -->

<!-- bloc-15 -->
<div class="bloc full-width-bloc l-bloc pt-4" id="bloc-15">
	<div class="container ">
		<div class="row">
			<div class="order-md-0 col-md-12 offset-lg-1 col-lg-6 order-lg-1">
				<img src="images/lazyload-ph.png" data-src="images/men-content-creator.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
			</div>
			<div class="align-self-center offset-md-1 col-md-10 col-sm-10 offset-sm-1 col-10 offset-1 offset-lg-0 col-lg-5">
				<h2 class="mg-md h2-color text-dark mt-0">
					Access the next-generation content network
				</h2>
				<h5 class="mg-md">
					A P2P self-sustainable solution
				</h5>
				<p>
					A decentralized peer to peer borderless content platform that allows learners, viewers and content creators to reach audiences globally without the need for strong internet connectivity
				</p><a href="/contact" class="btn btn-lg btn-primary btn-md">Book a free consultation</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-15 END -->

<!-- bloc-17 -->
<div class="bloc l-bloc full-width-bloc bg-light" id="bloc-17">
	<div class="container bloc-lg pt-4">
		<div class="row">
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/content-creator2.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<div class="bg-white p-3">
					<h5 class="mg-md font-weight-bond text-dark">
						For Creating &amp; Learning
					</h5>
					<p class="text-dark">
						Creators are able to create content for learners and their audiences.
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/shutterstock_1166912236.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<div class="bg-white p-3">
					<h5 class="mg-md font-weight-bond text-dark">
						For Entertainment
					</h5>
					<p class="text-dark">
						Built for content owners to reach their own audiences. Distribute own audio and videos.
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/content-creation-service-discussion.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<div class="bg-white p-3">
					<h5 class="mg-md font-weight-bond text-dark">
						For Sharing &amp; Collaboration
					</h5>
					<p class="text-dark">
						Collaborate with peers, build rich content and share with learners, audience and local community.
					</p>
				</div>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/laptop-computer.jpeg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
				<div class="bg-white p-3">
					<h5 class="mg-md font-weight-bond text-dark">
						For Distribution
					</h5>
					<p class="text-dark">
						Online or offline, your audience can consume your content 24/7 with zero censorship or lack of internet limitations.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-17 END -->

<!-- bloc-18 -->
<div class="bloc bgc-black d-bloc full-width-bloc" id="bloc-18">
	<div class="container bloc-lg p-4 ml-0">
		<div class="row">
			<div class="col-12 col-sm-4 col-lg-2">
				<h3 class="mg-md text-sm-left text-center text-white">
					Learning is fun
				</h3>
			</div>
			<div class="col-12 col-sm-4 col-lg-8">
				<h5 class="mg-md text-sm-left text-center text-white">
					Education funding through savings &amp; student loans. Start saving now!<span class="text-span-color"><span class="special-tag-for-editing-text-with-html"></span></span>
				</h5><a href="mailto:sales@huntrecht.com" class="btn btn-lg btn-primary btn-md
                    float-lg-none">Contact Sales</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-18 END -->

<!-- bloc-19 -->
<div class="bloc bgc-black d-bloc bg-dark" id="bloc-19">
	<div class="container bloc-lg p-0">
		<div class="row">
			<div class="col-12">
				<h4 class="mg-md">&nbsp;</h4>
			</div>
		</div>
	</div>
</div>
<!-- bloc-19 END -->

<!-- bloc-20 -->
<div class="bloc l-bloc full-width-bloc mt-0 pt-0" id="bloc-20">
	<div class="container bloc-lg p-0">
		<div class="row">
			<div class="col">
				<div>
					<h6 class="mg-md">
						Copyright 2020. All Rights Reserved
					</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

{{ end }}
