{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-solutions-financial-markets{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-74 -->
<div class="bloc bgc-columbia-blue bg-financial-markets-image" id="bloc-74">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<h1 class="mg-md h1-13-style tc-white">
					Resilient Data Infrastructures for financial markets
				</h1>
			</div>
			<div class="col-md-6 col-lg-7">
			</div>
		</div>
	</div>
</div>
<!-- bloc-74 END -->

<!-- bloc-74 -->
<div class="bloc tc-dark-lava l-bloc" id="bloc-74">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-md tc-black">
							<strong>Cloud-native infrastructures for financial services</strong>
						</h6>
					</div>
					<div class="col">
						<p class="p-bloc-74-style">
							Digital technology is redefining possibilities in the banking and financial markets industry. Cloud-native infrastructures enables flexibility and scalability with infrastructure costs and efficiencies. It increases agility and innovation in data governance and supports a broad range of business transformation and growth.<br><br>Blockchain as a modern digital infrastructure technology modernizes near real-time trust, insight and transparency to all parties in clearing and settlement, payments, trade finance and syndicated loans functions. It accelerates identity governance and management capabilities.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-74 END -->

<!-- bloc-75 -->
<div class="bloc tc-dark-lava none bgc-light-cyan" id="bloc-75">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-md tc-black">
							<strong>AI for financial markets</strong>
						</h6>
					</div>
					<div class="col-lg-3">
						<h4 class="mg-md float-lg-none tc-black">
							Intelligent financial services
						</h4>
						<p>
							Artificial intelligence (AI) is transforming businesses everywhere. A sound AI strategy is built on making market data accessible. Teams can easily get onboard, scale and automate AI across multiple clouds while ensuring trust and confidence in outcomes.
						</p>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/ai-chips.jpg" class="img-fluid mx-auto d-block lazyload" alt="ai chips" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-75 END -->

<!-- bloc-76 -->
<div class="bloc tc-dark-lava l-bloc" id="bloc-76">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-md h6-43-style tc-black">
							<strong>High speed financial securities brokerage</strong>
						</h6>
					</div>
					<div class="col-lg-6">
						<img src="images/lazyload-ph.png" data-src="images/high-speed-infrastructure.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
					</div>
					<div class="col">
						<h4 class="mg-md tc-black">
							Market Data
						</h4>
						<p>
							There&rsquo;s an opportunity to empower wealth advisors to deliver the personalized advisory experience that investors increasingly expect.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-76 END -->

<!-- bloc-77 -->
<div class="bloc tc-onyx bgc-anti-flash-white-2" id="bloc-77">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-md tc-black">
							<strong>Market APIs</strong>
						</h6>
					</div>
					<div class="col-lg-3">
						<h4 class="mg-md tc-black">
							Data Solutions
						</h4>
						<p>
							71% of banking and financial firms believe analytics creates competitive advantage.
						</p>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/data-solutions.jpg" class="img-fluid mx-auto d-block lazyload" alt="data solutions" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-77 END -->

<!-- bloc-78 -->
<div class="bloc tc-dark-lava l-bloc" id="bloc-78">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-lg-3">
						<h6 class="mg-md tc-black">
							<strong>Decentralized finance infrastructure</strong>
						</h6>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/bitcoin-racks.jpeg" class="img-fluid mx-auto d-block lazyload" alt="bitcoin racks.jpeg" />
					</div>
					<div class="col">
						<h4 class="mg-md tc-black">
							Bitcoin Mining
						</h4>
						<p>
							Bitcoin custody, trading and mining facilities. As adoption increases and regulations mature, there&rsquo;s need for infrastructure build out.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-78 END -->

<!-- bloc-79 -->
<div class="bloc bgc-black none" id="bloc-79">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-8">
				<h4 class="mg-md tc-white h4-bloc-79-style">
					CIOs believe that business benefits cannot be achieved by lifting and shifting applications and need to rethink the infrastructure stack
				</h4>
			</div>
			<div class="col-6 col-sm-3">
				<a href="mailto:sales@huntrecht.com" class="btn btn-d btn-sq bg-primary float-lg-none btn-block"><span class="feather-icon icon-arrow-right icon-spacer float-lg-right"></span>Contact us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-79 END -->

<!-- bloc-80 -->
<div class="bloc l-bloc" id="bloc-80">
	<div class="container bloc-lg pt-1 pb-2">
		<div class="row">
			<div class="col">
				<h6 class="mg-md">
					Copyright 2022. All rights reserved
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-80 END -->
{{ end }}
