{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-solutions-healthcare{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
    

<!-- bloc-48 -->
<div class="bloc bgc-white none bg-route-fifty-lead-image " id="bloc-48">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<h3 class="mg-md tc-black">
					Connected Healthcare &amp; Data Residency
				</h3>
				<h5 class="mg-md tc-black">
					Healthcare Services Infrastructure
				</h5><a href="https://statics.huntrecht.com/docs/Huntrecht-Medical-Center-Vanilla-Brochure.pdf"
                    class="btn btn-d btn-lg bg-primary btn-sq">Learn the details</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-48 END -->
<!-- bloc-50 -->
<div class="bloc bgc-dark-cerulean mt-5 " id="bloc-50">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-6 col-sm-3 col-lg-6">
				<h3 class="mg-md tc-white">
					Tackling Respiratory Diseases
				</h3>
				<p class="text-white">
					Empower your clinicians with the right information at the right time. Enable more informed treatment paths now rather than later.<br><br>Identify studies with potential missed findings such as pulmonary embolism and pneumothorax from chest/abdomen CT and chest x-ray images.<br>
				</p>
			</div>
			<div class="col-6 col-sm-3 col-lg-6">
				<img src="images/lazyload-ph.png" data-src="images/Lungs-Glowing-White-Wire-Black.jpg" class="img-fluid mx-auto d-block img-forb-style lazyload" alt="Depositphotos_39130855_xl 2015-scaled" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-50 END -->

<!-- bloc-50 -->
<div class="bloc none bg-center bg-light l-bloc" id="bloc-50">
	<div class="container bloc-lg pt-5 pb-0">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-black">
							<strong>Benefits</strong>
						</h6>
					</div>
					<div class="col">
						<h4 class="mg-md text-dark">
							<span class="feather-icon icon-server icon-cornflower-blue icon-md"></span><br><br>Data-driven diagnostics
						</h4>
						<p class="text-dark">
							Expanded physician view for greater confidence in diagnostics.
						</p>
					</div>
					<div class="col">
						<h4 class="mg-md text-dark">
							<span class="feather-icon icon-map none icon-cornflower-blue glow-t icon-md"></span> <br><br>Genetic data capture
						</h4>
						<p class="text-dark">
							Composable infrastructure to capture, store, access, manage and share huge volumes of genomics sequencing data.
						</p>
					</div>
					<div class="col">
						<h4 class="mg-md h3-color text-dark">
							<span class="feather-icon icon-monitor icon-md icon-cornflower-blue"></span><br><br>Disease surveillance
						</h4>
						<p class="text-dark">
							Utilize claims data and other sources to identify high risk members and encourage preventive actions.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-50 END -->

<!-- bloc-51 -->
<div class="bloc bgc-light-cyan l-bloc" id="bloc-51">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-black">
							<strong>Features</strong>
						</h6>
					</div>
					<div class="col">
						<h6 class="mg-md text-dark float-lg-none">
							<strong>Electronic Health Records</strong>
						</h6>
						<p class="text-dark">
							Confidently and efficiently generate the data-driven insights that you need to make business-critical decisions.
						</p>
					</div>
					<div class="col">
						<h6 class="mg-md text-dark float-lg-none">
							<strong>Data Governance</strong>
						</h6>
						<p class="text-dark">
							Observe data on customer interaction with healthcare provider to drive greater response on orders.
						</p>
					</div>
					<div class="col">
						<h6 class="mg-md text-dark">
							<strong>Patient Synopsis</strong>
						</h6>
						<p class="text-dark">
							Achieve reliable patient record by enabling the reconciliation of discrepancies across multiple data sources.&nbsp;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-51 END -->

<!-- bloc-52 -->
<div class="bloc bgc-onyx tc-silver d-bloc" id="bloc-52">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h6 class="mg-md tc-white">
							Industries
						</h6>
					</div>
					<div class="col">
						<h4 class="mg-md tc-white">
							Pharmaceutical companies
						</h4><img src="images/lazyload-ph.png" data-src="images/istockphoto-1316775813-170667a.jpg" class="img-fluid mx-auto d-block lazyload" alt="2912983" />
						<p class="mt-3">
							Enabling pharmaceutical companies to deliver therapies faster to their patients
						</p>
					</div>
					<div class="col">
						<h4 class="mg-md text-white">
							Medical device companies
						</h4><img src="images/lazyload-ph.png" data-src="images/asb0120AIA4.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<p class="mt-3">
							Direct integration and support for multiple medical devices
						</p>
					</div>
					<div class="col">
						<h4 class="mg-md text-white">
							Contract research companies
						</h4><img src="images/lazyload-ph.png" data-src="images/GettyImages-83405562.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
						<p class="mt-3">
							Discover why leading medical research organizations are working with us.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-52 END -->

<!-- bloc-53 -->
<div class="bloc bgc-brandeis-blue-2 d-bloc" id="bloc-53">
	<div class="container bloc-md pt-0 pb-0">
		<div class="row row-style">
			<div class="col">
				<h5 class="mg-md text-white h3-bloc-53-style">
					Efficient Generation of Real-World Data for Health Informatics
				</h5>
			</div>
		</div>
	</div>
</div>
<!-- bloc-53 END -->

<!-- bloc-54 -->
<div class="bloc bgc-white l-bloc" id="bloc-54">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<h6 class="mg-md">
					Copyright 2021. All Rights Reserved
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-54 END -->
{{ end }}
