<div class="call">
  <div class="call-box-top">
{{ if .Site.Data.contact.address }}
    <div class="call-phone"><strong>Address: </strong> {{ .Site.Data.contact.address }} </div>
{{ end }}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <a href="{{ "contact/" | relURL }}" class="button">Contact</a>
  </div>
</div>
