<div id="main-menu" class="main-menu">
  <ul class="menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.dc }}
   <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
      {{ if .HasChildren }}
        <span class="drop-icon" for="{{ .Name }}">▾</span>
        <ul class="sub-menu">
          {{ range .Children }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
            <span>{{ .Name }}</span>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
    {{end}}
    <li class="nav-item"><a href="mailto:sales@huntrecht.com" class="btn btn-md btn-warning">Contact
            Sales</a></li>
  </ul>
</div>
