<div id="main-menu" class="main-menu">
  <ul class="menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
   <li class="menu-item-{{ .Name | lower | urlize }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
       <a href="{{.URL}}" class="{{ with .Params.class }}{{ . }}{{ end }}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
      {{ if .HasChildren }}
        <span class="drop-icon" for="{{ .Name }}">▾</span>
        <ul class="sub-menu">
          {{ range .Children }}
          <li class="{{ if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
              <span>{{ .Name }}</span>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
    {{end}}
  </ul>
</div>
