<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
              {{ range $name, $item := .Site.Data.contact }}
                {{ range $key, $val := $item }}
                  <li>
                      <strong>{{$key}}: </strong><span>{{ $val }}</span>
                  </li>
                {{ end }}
              {{ end }}
          </ul>
          <a class="zerostatic"
              href="https://www.huntrecht.com">www.huntrecht.com</a>
        </div>
      </div>
    </div>
  </div>
</div>
