<div class="call">
  <div class="call-box-bottom">
    <a href="{{ "global-financing/" | relURL }}" class="button">Global Financing</a>
  </div>
  <div class="call-box-top">
{{ if .Site.Data.contact.address }}
    <div class="call-phone"><strong>Address: </strong> {{ .Site.Data.contact.address }} </div>
{{ end }}
    <div class="call-email">
        <a class="button btn-warning" href="{{ "contact/" | relURL }}">
        Speak to a Specialist
      </a>
    </div>
  </div>
</div>
