{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-webinars-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-0 -->
<div class="bloc l-bloc none" id="bloc-0">
	<div class="container bloc-lg pb-0">
		<div class="row">
			<div class="col">
				<h1 class="mg-md">
                    {{ .Title }}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div>
					<h5 class="mg-md border-left p-2 border-left-5">
					    {{ .Content }}
                    </h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="d-flex justfiy-content-right float-right w-50 mt-4">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<h5 class="mg-md">
                                <strong>{{ .Params.eventDate }}</strong>
							</h5>
						</li>
						<li class="list-inline-item">
                            {{ if not .Params.externalRegLink }}
                            <a href="/contact?{{ (querify "product" "webinars" "optinurl" .Permalink | safeURL  ) | safeURL }}" class="btn btn-warning btn-lg">Register NOW</a>
                            {{ else }}

                            <a href="{{ .Params.link | safeURL | safeURL }}" target="_blank" class="btn btn-warning btn-lg">Register NOW</a>
                            {{ end }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-3 -->
<div class="bloc l-bloc" id="bloc-3">
	<div class="container bloc-lg pt-1 pb-4">
		<div class="row d-flex">
			<div class="col-md-5 offset-md-1 col-lg-4 offset-lg-2">
				<div class="card">
					<div class="card-header">
						<h5 class="mg-clear text-center">
							Unique Challenge
						</h5>
					</div>
					<div class="card-body">
						<ul class="list-unstyled">
                            {{ range $items := .Params.challenge }}
							<li>
								<p class="text-center">
                                    {{ $items }}
								</p>
							</li>
                            {{ end }}
						</ul>
					</div>
				</div>
			</div>
			<div class="mt-3 mt-md-0 col-md-5 col-lg-4">
				<div class="card">
					<div class="card-header">
						<h5 class="mg-clear text-center">
							Expected Benefits
						</h5>
					</div>
					<div class="card-body">
						<ul class="list-unstyled">
                            {{ range $items := .Params.benefits }}
							<li>
								<p class="text-center">
                                    {{ $items }}
								</p>
							</li>
                            {{ end }}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->

<!-- bloc-4 -->
<div class="bloc l-bloc" id="bloc-4">
	<div class="container bloc-lg pt-1">
		<div class="row">
			<div class="col-md-12 col-lg-6 offset-lg-3">
				<h3 class="mg-md text-center">
					Speakers &amp; Panelists<br>
				</h3>
			</div>
			{{ range $items := .Params.speakers}}
			<div class="col-md-6">
				<div class="row voffset">
					<div class="col order-1 align-self-center">
						<h6 class="text-center mg-sm text-lg-left">
                            <strong>{{ $items.name}}</strong>
						</h6>
						<p class="text-center text-lg-left">{{ $items.bio}}</p>
                        <p><a href="{{ $items.linkedinLink }}"><i class="ion-logo-linkedin"></i></a></p>
                    </div>
					<div class="col-lg-3">
                        <img src="{{ if eq $items.pic "Nil" }} /images/placeholder-user.png {{ else }} {{ $items.pic | relURL }} {{ end}}" class="img-fluid rounded-circle lazyload" alt="{{ $items.name}}" />
					</div>
				</div>
			</div>
			{{ end}}
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- bloc-5 -->
{{ if .Params.questions }}
<div class="bloc l-bloc" id="bloc-5">
	<div class="container bloc-lg pt-1">
		<div class="row">
			<div class="col-md-12 col-lg-6 offset-lg-3">
				<h3 class="mg-md text-center">
					Questions<br>
				</h3>
			</div>
			<div class="col-md-6 col-lg-12">
				<div class="row">
					<div class="col">
                        {{ range $items := .Params.questions}}
						<ul class="list-unstyled list-group">
							<li class="list-group-item">
								<p>
                                    {{ $items }}
								</p>
							</li>
						</ul>
                        {{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->
{{ end }}

<!-- bloc-5 -->
<div class="bloc l-bloc full-width-bloc " id="bloc-5">
	<div class="container bloc-lg">
		<div class="row bg-blue text-white">
			<div class="col-12 col-11 col-lg-12 offset-lg-0 text-center p-3">
				<h1 class="mg-md text-center  mx-auto d-block">
					<i>Talk to us about Integration &amp; Partnerships</i><br>
                </h1><a href="{{ "contact/" | relURL }}" class="btn btn-d btn-lg">Contact Us</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->
{{ end }}




