{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-webinars{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-0 -->
<div class="bloc l-bloc" id="bloc-0">
	<div class="container bloc-lg pb-5">
		<div class="row">
			<div class="col">
				<h1 class="mg-md">
                    {{ .Content }}
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div>
					<h3 class="mg-md">
						Focused on business innovation across diverse industries. Join us as we engage industry leaders and professionals on critical business challenges and how the Huntrecht advisory and IBM Subject Matter Experts helps to break them down into scalable and sustainable solutions.
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="d-flex justfiy-content-right float-right w-50">
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item">
							<h5 class="mg-md">
								Brought to you by:
							</h5>
						</li>
						<li class="list-inline-item align-middle">
							<img src="images/ibm-logo-gray.jpg" class="img-fluid mx-auto d-block img-style lazyload" alt="ibm logo-gray" />
						</li>
						<li class="list-inline-item align-middle">
                            <img src="images/huntrecht-logo.png"
                            class="img-fluid mx-auto d-block img-2-style
                            lazyload" alt="Huntrecht Logo" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-lg pb-0 pt-0">
		<div class="row">
			<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col">
				<h2 class="mg-md text-center">
					Sessions
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc l-bloc" id="bloc-2">
	<div class="container bloc-lg pt-0">
		<div class="row">
			<div class="col ">
                {{ $webinars := where (where .Site.RegularPages "Type"  "webinars") ".Params.active" true }}
                <table class="table table-responsive-md table-hover
                    table-striped">
                    <thead class="font-weight-bold">
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Link</th>
                    </thead>
                    <tbody>
                    {{ range $item := sort $webinars ".Params.weight" }}
                        {{ $length := len $webinars }} 
                            {{ if gt $length 0 }}
                            <tr>    
                                <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                                <td>{{ .Params.eventDate }}</td>
                                <td>
                                    {{ if not .Params.externalRegLink }}
                                    <a alt="{{ .Title }}" href="/contact?{{ (querify "product" "webinars" "optinurl" .Permalink | safeURL ) | safeURL }}">Register</a>
                                    {{ else }}
                                    <a href="{{ .Params.link | safeURL | safeURL }}" target="_blank">Register</a>

                                    {{ end }}
                                </td>
                            </tr>
                            {{ else }}
                                <span>No Webinars at this time</span>
                            {{ end }}
                    {{ end }}
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

</div>
<!-- Main container END -->
{{ end }}
