{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-careers{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-87 -->
<div class="bloc l-bloc" id="bloc-87">
	<div class="container bloc-lg pt-0 pb-5">
		<div class="row bgc-brandeis-blue-2">
			<div class="col">
				<div class="row">
					<div class="col">
						<h3 class="mg-md pt-5 mt-5 text-white pb-5 mb-5">
							Job Openings
						</h3>
					</div>
					<div class="col">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-87 END -->

<!-- bloc-88 -->
<div class="bloc tc-onyx" id="bloc-88">
	<div class="container bloc-lg pt-0 pb-0">
		<div class="row">
			<div class="col-md-12 col-lg-6 offset-lg-3">
				<p class="text-center p-bloc-88-style">
					Our open roles are led by market and client demands. Some roles require extensive experience while others require entry-level associates emerging from undergraduate programs.<br><br><strong>All roles are hybrid</strong>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-88 END -->

<!-- bloc-89 -->
<div class="bloc l-bloc tc-onyx " id="bloc-89">
	<div class="container bloc-lg pt-3">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 offset-lg-2 col-lg-8">
				<div id="accordion-5294">
					{{ range $index, $value := .Pages.ByParam "listid" }}
                        {{ if and (eq $index 0) (eq .Params.Featured true) }}
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <a href="#" class="a-btn ltc-black" data-toggle="collapse" data-target="#accordion-5294-item-1" aria-expanded="true" aria-controls="accordion-5294-item-1" target="#accordion-5294-item-1">{{ .Params.Title }}</a>
                                </div>
                                <div id="accordion-5294-item-1" class="collapse
                                    show" aria-labelledby="heading1" data-parent="#accordion-5294">
                                    <div class="card-body">
                                        <div class="pl-0 col-sm-4"><small>Job ID: {{ .Params.JobId }}</small></div>
                                        <div class="pl-0 col-sm-4"><small>Job Level: {{ .Params.JobLevel }}</small></div>
                                        <p>{{ .Content }}</p>
                                    </div>
                                </div>
                            </div>
						{{ end }}
                        {{ if and (gt $index 0) (eq .Params.Featured true) }}
                            <div class="card">
                                <div class="card-header" id="{{ .Params.Heading }}">
                                    <a href="#" class="a-btn ltc-black" data-toggle="collapse" data-target="#{{ .Params.ListId }}" aria-expanded="true" aria-controls="{{ .Params.ListId }}" target="#{{ .Params.ListId}}">{{ .Params.Title }}</a>
                                </div>
                                <div id="{{ .Params.ListId }}" class="collapse" aria-labelledby="{{ .Params.Heading }}" data-parent="#accordion-5294">
                                    <div class="card-body">
                                        <div class="pl-0 col-sm-4"><small>Job ID: {{ .Params.JobId }}</small></div>
                                        <div class="pl-0 col-sm-4"><small>Job Level: {{ .Params.JobLevel }}</small></div>
                                        <p>{{ .Content }}</p>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-89 END -->

<!-- bloc-90 -->
<div class="bloc bgc-platinum l-bloc" id="bloc-90">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>Solutions</strong>
				</h6><a href="https://www.huntrecht.com/data-centers" class="a-btn a-block footer-link">Data Centers</a><a href="https://howsen.huntrecht.com" class="a-btn a-block footer-link">Real Estate</a><a href="https://greencloud.huntrecht.com" class="a-btn a-block footer-link">Cloud Computing</a><a href="https://www.huntrecht.com/solutions/healthcare" class="a-btn a-block footer-link">Healthcare</a><a href="https://www.huntrecht.com/internet-of-things" class="a-btn a-block footer-link">IoT</a><a href="https://www.huntrecht.com/solutions/financial-markets" class="a-btn a-block footer-link">Financial Markets</a><a href="https://redsmith.huntrecht.com" class="a-btn a-block footer-link">Supply Chain</a>
			</div>
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>Services</strong>
				</h6><a href="https://www.huntrecht.com/global-financing" class="a-btn a-block footer-link">Global Financing</a><a href="https://www.huntrecht.com/services/real-estate" class="a-btn a-block footer-link">Advisory</a><a href="https://www.huntrecht.com/services/custodian-digital-assets" class="a-btn a-block footer-link">Custodian &amp; Digital Assets</a><a href="https://docs.huntrecht.com/apidocs" class="a-btn a-block footer-link">Market Intelligence</a>
			</div>
			<div class="col-12 col-sm-4">
				<h6 class="mg-md text-sm-left text-center tc-onyx">
					<strong>About Huntrecht</strong>
				</h6>
				<a href="/careers" class="a-btn a-block footer-link">Careers</a>
				<a href="/webinars" class="a-btn a-block footer-link">Webinars</a>
				<a href="mailto:ir@huntrecht.com" class="a-btn a-block footer-link">Investor Relations</a>
				<a href="/contact" class="a-btn a-block footer-link">Contact</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-90 END -->
{{ end }}



