{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-internet-of-things{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-31 -->
<div class="bloc full-width-bloc bg-imagebg-001 d-bloc" id="bloc-31">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h2 class="mg-md text-white h1-bloc-31-style">
							Edge Infrastructures for IoT
						</h2>
						<h5 class="mg-md text-white h3-style">
							Gateway solutions for low power, low latency, low bandwidth consumption
						</h5>
						<p class="mg-md text-white h5-bloc-31-style">
							Running on RedHat Openshift container technology, we deliver a flexible IoT network to deploy various types of applications, platforms and protocol to the edge.
						</p>
					</div>
					<div class="col">
						<img src="images/lazyload-ph.png" data-src="images/icons8-iota-250.svg" class="img-fluid mx-auto d-block lazyload " alt="icons8 iota-250" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-31 END -->

<!-- bloc-32 -->
<div class="bloc bgc-white l-bloc" id="bloc-32">
	<div class="container bloc-md">
		<div class="row voffset">
			<div class="col-12 col-11">
				<h6 class="text-center mg-md">
					COMPANIES WE&rsquo;RE BUILDING WITH
				</h6>
			</div>
			<div class="col-6 col-sm-3 align-self-center">
				<img src="images/lazyload-ph.png" data-src="images/ibm-logo-gray.jpg" class="img-fluid mx-auto d-block img-25-style lazyload" alt="ibm logo-gray" />
			</div>
			<div class="col-6 col-sm-3 align-self-center">
				<img src="images/lazyload-ph.png" data-src="images/redhat-logo.png" class="img-fluid mx-auto d-block img-redhat-lo-style lazyload" alt="redhat logo" />
			</div>
			<div class="col-6 col-sm-3 text-center align-self-center">
				<img src="images/lazyload-ph.png" data-src="images/canonical-logo.png" class="img-fluid img-canonical-lo-style center-block img-responsive lazyload" alt="stripe" />
			</div>
			<div class="col-6 col-sm-3 text-center align-self-center">
				<img src="images/lazyload-ph.png" data-src="images/mainone-logo.png" class="img-fluid mx-auto d-block img-mainone-lo-style lazyload" alt="yahoo" />
			</div>
		</div>
	</div>
</div>
<!-- bloc-32 END -->

<!-- bloc-33 -->
<div class="bloc l-bloc none bg-light" id="bloc-33">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-3">
				<h3 class="mg-md text-dark">
					Sector Focus
				</h3>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/IoT-application-education-campus-safety.jpg" class="img-fluid mx-auto d-block lazyload" alt="IoT application-education-campus-safety" />
				<h5 class="mg-md text-dark">
					Campuses
				</h5>
				<p class="text-dark">
					University, hospitals or a big office. All of them have huge numbers of people and devices requiring connectivity. Private mobile networks provide cost efficiency and great learning opportunities for universities.
				</p>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/downstream-image.jpg" class="img-fluid mx-auto d-block lazyload" alt="downstream image" />
				<h5 class="mg-md text-dark">
					Oil &amp; Gas
				</h5>
				<p class="text-dark">
					These are hash environments, full of industrial IoT, operating underground and requiring reliability and security provided by LTE-M and 5G
				</p>
			</div>
			<div class="col-md-3">
				<img src="images/lazyload-ph.png" data-src="images/govt-iot.jpg" class="img-fluid mx-auto d-block lazyload" alt="govt iot" />
				<h5 class="mg-md text-dark">
					Government
				</h5>
				<p class="text-dark">
					Smart cities, museums, stadiums or public transport.
				</p>
			</div>
			<div class="col">
			</div>
			<div class="col">
				<img src="images/lazyload-ph.png" data-src="images/schildpaddie-bL7KXjrTMuw-unsplash-scaled.jpg" class="img-fluid mx-auto d-block lazyload" alt="schildpaddie bL7KXjrTMuw-unsplash-scaled" />
				<h5 class="mg-md text-dark">
					Military
				</h5>
				<p class="text-dark">
					Private 5G networks are key in modern, connected military operations. Situational awareness from sensors and drones is a force multiplier. However, it requires performance and security that only the latest mobile technology can deliver.
				</p>
			</div>
			<div class="col">
				<img src="images/lazyload-ph.png" data-src="images/manufacturing-iot.jpg" class="img-fluid mx-auto d-block lazyload" alt="manufacturing iot" />
				<h5 class="mg-md text-dark">
					Manufacturing
				</h5>
				<p class="text-dark">
					Mercedes Benz and Bosh already track production lines and optimize their manufacturing processes using private 5G networks and MEC. Decisions must be made fast and on the spot. Sending data within local micro clouds show much better results in these use cases.
				</p>
			</div>
			<div class="col">
			</div>
		</div>
	</div>
</div>
<!-- bloc-33 END -->

<!-- bloc-34 -->
<div class="bloc l-bloc" id="bloc-34">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-md-6 order-md-1">
				<img src="images/lazyload-ph.png" data-src="images/oil-gas-in-ocean.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
			</div>
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md text-dark h2-energy-style">
					Energy
				</h2>
				<h5 class="mg-md text-dark">
					The right solution brings data where you need it.
				</h5>
				<p class="text-dark">
					As energy companies face new demands and competing resources, we&rsquo;re committed to helping you minimize risk and integrate the solutions that drive your next breakthrough.
                </p>
                <h6 class="mg-md text-dark">
					Based on Open Data for Industries - An OSDU Implementation
                </h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-34 END -->

<!-- bloc-35 -->
<div class="bloc l-bloc" id="bloc-35">
	<div class="container bloc-lg pt-0">
		<div class="row">
			<div class="col-md-6">
				<img src="images/lazyload-ph.png" data-src="images/IoT-application-education-campus-safety.jpg" class="img-fluid mx-auto d-block lazyload" alt="placeholder image" />
			</div>
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md text-dark h2-real-estate-style">
					Real Estate
				</h2>
				<h5 class="mg-md text-dark">
					Sensing technologies for capturing occupancy data
				</h5>
				<p class="text-dark">
					From CAD to BIM real estate information management for digital representation of a facility and its systems including space, asset and construction data to understand allocations and charge backs, analytics to help gauge the effectiveness of space allocations.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-35 END -->

<!-- bloc-39 -->
<div class="bloc bgc-onyx" id="bloc-39">
	<div class="container bloc-lg pt-3 pb-0">
		<div class="row">
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md text-white">
					Hospitality
				</h2>
				<h5 class="mg-md p-hugo-override ">
					Concierge services to real estate and hospitality
				</h5>
				<p class="p-hugo-override">
					Virtual Concierge services to help hotels to build proper and accurate guest profiling, allowing them to provide personalized offers to their guests.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->

<!-- bloc-40 -->
<div class="bloc bgc-onyx" id="bloc-40">
	<div class="container bloc-lg pt-2 pb-3">
		<div class="row">
			<div class="col-md-4 border-right">
				<h5 class="mg-md text-white">
					Core Virtual Assistant
				</h5>
				<p class="p-hugo-override">
					White-label offering with pre-trained model for hospitality, live agent hand-off, booking &amp; reservation, calendar &amp; scheduling, geolocation and support for multiple languages.
				</p>
				<h6 class="mg-md tc-satin-sheen-gold">
					<span class="feather-icon icon-arrow-right"></span><strong>&nbsp;Starting at $25,000 USD per month</strong>
				</h6>
			</div>
			<div class="col-md-4 border-right">
				<h5 class="mg-md text-white">
					Virtual Concierge Advanced
				</h5>
				<p class="p-hugo-override">
					Built for high compute data processing and analytics with built-in data engine to accomodate voice interactions, payments, real-time insights and advanced search.
				</p>
				<h6 class="mg-md tc-satin-sheen-gold">
					<span class="feather-icon icon-arrow-right"></span><strong>&nbsp;Starting at $35,000 USD per month</strong>
				</h6>
			</div>
			<div class="col-md-4">
				<h5 class="mg-md text-white">
					Virtual Concierge IoT
				</h5>
				<p class="p-hugo-override">
					Comes with IoT-enabled smart device for facility management, building insights and space management.
				</p>
				<h6 class="mg-md tc-satin-sheen-gold">
					<span class="feather-icon icon-arrow-right"></span><strong>&nbsp;Starting at $45,000 USD per month</strong>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="p-bloc-40-style">
					<i>*Terms and conditions apply on all offerings</i>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-40 END -->

<!-- bloc-36 -->
<div class="bloc l-bloc bg-light" id="bloc-36">
	<div class="container bloc-lg pb-0 pt-2">
		<div class="row">
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md h2-bloc-36-style text-dark">
					Industry Solutions
				</h2>
				<h5 class="mg-md h3-bloc-36-style text-dark">
					Sensor-enabling infrastructures including utilities, HVAC, Power consumption, smart meters.
				</h5>
			</div>
		</div>
	</div>
</div>
<!-- bloc-36 END -->

<!-- bloc-37 -->
<div class="bloc l-bloc bg-light" id="bloc-37">
	<div class="container bloc-lg pb-2 pt-2">
		<div class="row">
			<div class="col-md-4 border-right col-lg-6">
				<h4 class="mg-md text-dark">
					Telecoms
				</h4>
				<p class="text-dark">
					Increasing reach in low density rural areas and densely populated urban areas. Offering low latency data, storage and streaming services on low power and bandwidth. Powered by OpenRAN
				</p>
			</div>
			<div class="col-md-4 col-lg-6">
				<h4 class="mg-md text-dark">
					Defense &amp; Cybersecurity
				</h4>
				<p class="text-dark">
					Many companies need secure networks for their data across a large coverage area. Private LTE-M &amp; 5G networks meet this need
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-37 END -->

<!-- bloc-38 -->
<div class="bloc l-bloc" id="bloc-38">
	<div class="container bloc-lg pt-5">
		<div class="row">
			<div class="col-md-3 col-lg-3">
				<h2 class="mg-md text-dark h2-bloc-38-style">
					Supported IoT Devices
				</h2>
				<p class="text-dark">
					Huntrecht and its partners offer devices that easily connect to Huntrecht Cloud Platform. With our managed IoT services you can securely connect, manage, and ingest data from globally dispersed devices.
				</p>
			</div>
			<div class="col-md-3 offset-lg-0 border rounded p-2 m-1">
				<img src="images/lazyload-ph.png" data-src="images/advantech-epc-s202.PNG" class="img-fluid mx-auto d-block lazyload" alt="advantech epc-s202.PNG" />
				<h5 class="mg-md text-lg-center text-dark">
					Advantech EPC-S202
				</h5><a href="https://ubuntu.com/certified/202105-29074" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col-md-3 border rounded p-2 m-1">
				<img src="images/lazyload-ph.png" data-src="images/Banner-EC70A%26B2-170427-01.png" class="img-fluid mx-auto d-block lazyload" alt="Banner EC70A%26B2-170427-01" />
				<h5 class="mg-md text-lg-center text-dark">
					DFI EC70A-KU
				</h5><a href="https://ubuntu.com/certified/202103-28835" class="a-btn a-block link-style text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col m-1 p-2">
			</div>
		</div>
		<div class="row">
			<div class="col rounded p-2 m-1">
			</div>
			<div class="col border rounded p-2 m-1">
				<img src="images/lazyload-ph.png" data-src="images/Mellanox-smartNIC.jpg" class="img-fluid mx-auto d-block lazyload" alt="Mellanox smartNIC" />
				<h5 class="mg-md text-lg-center text-dark">
					Mellanox MBF1M332A
				</h5><a href="https://ubuntu.com/certified/201806-26285" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col offset-lg-0 border rounded p-2 m-1">
				<img src="images/lazyload-ph.png" data-src="images/13766895BoltCOR%2030-17_front-2.jpg" class="img-fluid mx-auto d-block lazyload" alt="13766895BoltCOR%2030 17_front-2" />
				<h5 class="mg-md text-lg-center text-dark">
					Eurotech BoltCOR-30-17-35
				</h5><a href="https://ubuntu.com/certified/202003-27798" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col border rounded p-2 m-1">
				<img src="images/lazyload-ph.png" data-src="images/Intel-nuc7cjyh_.jpg" class="img-fluid mx-auto d-block lazyload" alt="Intel nuc7cjyh_" />
				<h5 class="mg-md text-lg-center text-dark">
					Intel Corp. NUC7CJYH
				</h5><a href="https://ubuntu.com/certified/201805-26256" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
		</div>
		<div class="row">
			<div class="col m-1">
			</div>
			<div class="col border p-2 rounded m-1">
				<img src="images/lazyload-ph.png" data-src="images/dragonboard_154-rev2-5.20-feature2.jpg" class="img-fluid mx-auto d-block lazyload" alt="dragonboard_154 rev2-5.20-feature2" />
				<h5 class="mg-md text-lg-center text-dark">
					Qualcomm Inc DragonBoard 410c
				</h5><a href="https://ubuntu.com/certified/201705-25539" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col border p-2 rounded m-1">
				<img src="images/lazyload-ph.png" data-src="images/rigado-cascade-500-gateway.png" class="img-fluid mx-auto d-block lazyload" alt="rigado cascade-500-gateway" />
				<h5 class="mg-md text-dark text-lg-center">
					Rigado Cascade&nbsp;
				</h5><a href="https://ubuntu.com/certified/201808-26456" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col border p-2 rounded m-1">
				<img src="images/lazyload-ph.png" data-src="images/rasberry-pi-2-b-30011591f.jpg" class="img-fluid mx-auto d-block lazyload" alt="rasberry pi-2-b-30011591f" />
				<h5 class="mg-md text-lg-center text-dark">
					Raspberry Pi 2 Model B
				</h5><a href="https://ubuntu.com/certified/201608-25030" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
		</div>
		<div class="row">
			<div class="col m-1">
			</div>
			<div class="col border p-2 rounded m-1">
				<img src="images/lazyload-ph.png" data-src="images/raspberry-pi-compute-module-3-cm3-516693-2.jpg" class="img-fluid mx-auto d-block lazyload" alt="raspberry pi-compute-module-3-cm3-516693-2" />
				<h5 class="mg-md text-lg-center text-dark">
					Raspberry Pi Compute Module 3 (CM3)
				</h5><a href="https://ubuntu.com/certified/201711-25992" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col-md-3 border rounded p-2 m-1 col-lg-3">
				<img src="images/lazyload-ph.png" data-src="images/mwc-2017-dell-s-new-edge-gateway-3000-series-are-powered-by-ubuntu-core-16-513377-2.jpg" class="img-fluid mx-auto d-block lazyload" alt="mwc 2017-dell-s-new-edge-gateway-3000-series-are-powered-by-ubuntu-core-16-513377-2" />
				<h5 class="mg-md text-dark">
					Dell Edge Gateway 3001
				</h5><a href="https://ubuntu.com/certified/201702-25398" class="a-btn a-block text-lg-center" target="_blank">View documentation</a>
			</div>
			<div class="col p-2 rounded m-1">
			</div>
		</div>
	</div>
</div>
<!-- bloc-38 END -->

<!-- bloc-39 -->
<div class="bloc l-bloc full-width-bloc" id="bloc-39">
	<div class="container bloc-lg p-0">
		<div class="row">
			<div class="col">
				<h6 class="mg-md">
					Copyright 2021. All Rights Reserved.
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-39 END -->
{{ end }}
