<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Cloud Africa, Data Center Africa, Colocation, SDWAN, Managed Cloud Services ">
    <meta name="description" content="Turnkey Data Center in Africa with Global Point of Presence">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    
  <!-- CSS-->
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300,400,600,800,300,400,600,800,300&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100,300,400,700,900,100,300,400,700,900&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- modified for Huntrecht -->
    {{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
    <link rel="stylesheet" href="{{ ($bootstrap).RelPermalink }}">
    {{ $custom := resources.Get "css/custom.css" }}
    {{ $ionicons := resources.Get "css/ionicons.min.css" }}
    <link rel="stylesheet" href="{{ ($ionicons).RelPermalink }}">
    <link rel="stylesheet" href="{{ ($custom).RelPermalink }}">
    {{ $fontawesome := resources.Get "css/font-awesome.min.css" }}
    <link rel="stylesheet" href="{{ ($fontawesome).RelPermalink }}">
    {{ $feather := resources.Get "css/feather.min.css" }}
    <link rel="stylesheet" href="{{ ($feather).RelPermalink }}">
    {{ $extra := resources.Get "css/extra.css" }}
    <link rel="stylesheet" href="{{ ($extra).RelPermalink }}">
  
    {{ block "header_css" . }}{{ end }}
	
    <title>Huntrecht Data Center</title>
    
</head>
<body>
<!-- Main container -->
<div class="page-container {{ block "body_classes" .}}{{ end }}">
  {{ partial "google-tag-manager-noscript.html" . }}
  {{ partial "main-menu-mobile.html" . }}
  <div class="wrapper">
    {{ partial "dc-header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ $scripts := resources.Get "js/scripts.js" }}
  {{ $jq := resources.Get "js/jquery-3.3.1.min.js" }}
  {{ $blocs := resources.Get "js/blocs.min.js" }}
  {{ $lazysizes := resources.Get "js/lazysizes.min.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
    <script src="{{ $jq.RelPermalink }}"></script>
    <script src="{{ $lazysizes.RelPermalink }}"></script>
    <script src="{{ $blocs.RelPermalink }}"></script>
    <!-- Additional JS END -->

  {{ partial "google-analytics.html" . }}

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    
    

</body>
</html>
