{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-data-center{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!-- bloc-24 -->
<div class="bloc bg-Hyperscale-data-center-1 d-bloc " id="bloc-24">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<h1 class="mg-md text-white">
					Turnkey Data Center with&nbsp;<br>Global Point of Presence<br>
				</h1>
				<h4 class="mg-md text-white">
					Hyperscale Data Center
				</h4><a href="https://statics.huntrecht.com/docs/Huntrecht-DC-Island-LG1.pdf" class="btn btn-d btn-lg btn-sq border-primary bg-primary text-white " target="_blank"><span class="feather-icon icon-inbox icon-spacer icon-white"></span>Learn the details</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-24 END -->

<!-- bloc-25 -->
<div class="bloc l-bloc" id="bloc-25">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-sm-4 col">
				<h3 class="mg-md text-dark">
					Deploy locally and scale globally
				</h3>
			</div>
			<div class="col-sm-8 col">
				<p class="text-dark">
					Colocate your racks and servers and deploy workloads in over
                    60 data centers across six regions globally. Built to meet
                    your demand for local access, low latency and certified
                    security. Business continuity solutions that keeps your
                    operations running 24/7 with 99.99% uptime and zero
                    downtime. Save your business $3m losses per second with our resilient cloud infrastructures.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-25 END -->

<!-- bloc-26 -->
<div class="bloc l-bloc bg-light" id="bloc-26">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-md-6">
				<div class="row voffset">
					<div class="col order-1 align-self-center">
						<h4 class="text-center mg-sm text-lg-left text-dark">
							Business Continuity
						</h4>
						<p class="text-center text-lg-left text-dark">
							Backup, disaster recovery, failover and resiliency at all network layers.
						</p>
					</div>
					<div class="col-lg-3">
						<img src="images/lazyload-ph.png" data-src="images/icon-servers-01_1_0.svg" class="img-fluid rounded-circle img-bloc-26-style lazyload" alt="placeholder user" />
					</div>
				</div>
				<div class="row voffset">
					<div class="col order-2 align-self-center">
						<h4 class="text-center mg-sm text-lg-left text-dark">
							SDWAN
						</h4>
						<p class="text-center text-lg-left text-dark">
							Software defined networking for network scaling and failover.
						</p>
					</div>
					<div class="col-lg-3">
						<img src="images/lazyload-ph.png" data-src="images/icon-servers-02_0_0.svg" class="img-fluid rounded-circle lazyload" alt="sdwan" />
					</div>
				</div>
				<div class="row voffset">
					<div class="col order-2 align-self-center">
						<h4 class="text-center mg-sm text-lg-left text-dark">
							Streaming&nbsp;
						</h4>
						<p class="text-center text-lg-left text-dark">
							Solution for streaming contents including video, music and games.&nbsp;<a class="ltc-brandeis-blue" href="https://statics.huntrecht.com/docs/Huntrecht-Gaming-Product-Brief.pdf">Learn more</a>
						</p>
					</div>
					<div class="col-lg-3">
						<img src="images/icon-servers-02_0_0.svg"
                        data-src="images/icon-servers-02_0_0.svg" class="img-fluid rounded-circle lazyloaded" alt="sdwan">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-12">
						<div class="row voffset">
							<div class="col-lg-3">
								<img src="images/lazyload-ph.png"
                                data-src="images/icon-dataintransit_0_0.svg" class="img-fluid rounded-circle lazyload" alt="placeholder user" />
							</div>
							<div class="col align-self-center">
								<h4 class="text-center text-lg-left mg-sm text-dark">
									Cloud &amp; Colocation
								</h4>
								<p class="text-center text-lg-left text-dark">
									Bring your own hardware or rent the fastest
                                    servers on the planet powered by IBM and
                                    built for AI, financial services, automation
                                    and more.
								</p>
							</div>
						</div>
						<div class="row voffset mt-0">
							<div class="col-lg-3">
								<img src="images/lazyload-ph.png"
                                data-src="images/icon-security-01_0_0.svg"
                                class="img-fluid rounded-circle lazyload "
                                alt="Edge Computing" />
							</div>
							<div class="col align-self-center">
								<h4 class="text-center text-lg-left mg-sm text-dark">
									Edge Computing
								</h4>
								<p class="text-center text-lg-left text-dark">
									Edge nodes for IoT, peer to peer networks. Experience digital services at the fastest speed possible.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-0">
					<div class="col-12">
						<div class="row voffset ">
							<div class="col-lg-3">
								<img src="images/icon-dataintransit_0_0.svg"
                                data-src="images/icon-dataintransit_0_0.svg" class="img-fluid rounded-circle lazyloaded" alt="placeholder user">
							</div>
							<div class="col align-self-center">
								<h4 class="text-center text-lg-left mg-sm text-dark">
									IP Transit
								</h4>
								<p class="text-center text-lg-left text-dark">
									Interconnect with us and reach the world networks faster, cheaper and reliably.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->

<!-- bloc-27 -->
<div class="bloc bgc-onyx d-bloc" id="bloc-27">
	<div class="container bloc-lg pb-3 pt-3 ">
		<div class="row">
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md text-white">
					<span class="feather-icon icon-box"></span>&nbsp;Addons: Managed Services
				</h2>
				<h4 class="mg-md">
					Full digital business suite of services
				</h4>
				<p class="p-hugo-override">
					Marketplace solutions designed to serve an ecosystem of customers, partners, suppliers, networks inorder to collaborate, compete and deliver differentiated products and services.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col bgc-dark-lava m-1">
				<h5 class="mg-md text-white">
					OpenBanking
				</h5>
				<p class="p-hugo-override">
					This solution brings about access to OpenAPIs and financial inclusion thereby allowing digital financial services to reach a larger audience without compromising on security. Available services include Enterprise Governance, Risk &amp; Compliance, identity &amp; access management, data security &amp; data services
				</p>
				<h6 class="mg-md">
					<span class="feather-icon icon-arrow-right none"></span><a
                        class="ltc-brandeis-blue"
                        href="https://www.huntrecht.com/solutions/financial-markets">&nbsp;Read more</a><br>
				</h6>
			</div>
			<div class="col bgc-dark-lava m-1">
				<h5 class="mg-md text-white">
					Business Continuity &amp; Cybersecurity
				</h5>
				<p class="p-hugo-override">
					The digital infrastructure is planned to prevent downtimes and spur realtime recovery with little or no impact on existing operations.
				</p>
			</div>
			<div class="col bgc-dark-lava m-1">
				<h5 class="mg-md text-white">
					Digital Health
				</h5>
				<p class="p-hugo-override">
					The digital health solution is an healthcare interoperability solution designed to leverage technology to solve problems such as siloed data in source systems, inability to exchange and use healthcare data in meaningful fashion, healthcare data security, transparency and access to personalised care.
				</p>
				<h6 class="mg-md">
					<span class="feather-icon icon-arrow-right none"></span><a class="ltc-brandeis-blue" href="https://www.huntrecht.com/solutions/healthcare">&nbsp;Read more</a><br>
				</h6>
			</div>
			<div class="col bgc-dark-lava m-1">
				<h5 class="mg-md text-white">
					Edge Data Networks
				</h5>
				<p class="float-lg-none p-hugo-override ">
					This solution moves partner contents closer to consumers thereby reducing connectivity cost, increasing reach and digital inclusion of a large populace.
				</p>
				<h6 class="mg-md">
					<span class="feather-icon icon-arrow-right none"></span><a class="ltc-brandeis-blue" href="https://www.huntrecht.com/internet-of-things">&nbsp;Read more</a><br>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<p class="mg-clear text-center text-md-left p-style">
					<i>*Terms and Conditions apply on all offerings</i>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->

<!-- bloc-27 -->
<div class="bloc l-bloc" id="bloc-27">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-sm-4 col text-dark">
				<h3 class="mg-md">
					Cloud regions
				</h3>
			</div>
			<div class="col-sm-8 col">
				<h4 class="mg-md text-dark">
					Focus on your app, not the infrastructure hosting it
				</h4>
				<p class="text-dark">
					Deploy your apps to different regions for latency or security considerations, with the option to deploy to one region or across multiple regions.<br>
				</p>
				<ul class="text-dark">
					<li>
								Ability to build and extend web and mobile apps
					</li>
					<li>
								Processing power to deliver continuous application changes
					</li>
					<li>
								Optimized and elastic workloads
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->

<!-- bloc-27 -->
<div class="bloc l-bloc bg-dark" id="bloc-27">
	<div class="container bloc-lg pt-3 pb-3">
		<div class="row">
			<div class="col-sm-4 text-white col-lg-7">
				<h5 class="mg-md">
					Access our managed infrastructure offerings powered by GreenCloud
				</h5>
			</div>
			<div class="col-sm-8 col-lg-4">
				<div>
					<a href="https://greencloud.huntrecht.com" class="btn btn-primary btn-lg btn-md">Access GreenCloud</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-27 END -->

<!-- bloc-28 -->
<div class="bloc l-bloc" id="bloc-28">
	<div class="container bloc-lg pt-4 pb-4">
		<div class="row">
			<div class="col-md-9">
				<h6 class="mg-clear text-center text-md-left h6-style">
					Huntrecht Data Centers is managed and operated through a joint venture between Huntrecht and VK Capital, Singapore. All Rights Reserved.
				</h6>
			</div>
		</div>
	</div>
</div>
<!-- bloc-28 END -->
{{ end }}

